<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MSS Service</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    
    <!--script>
        function GetRadioValue(RadioName){  
            var obj=document.getElementsByName(RadioName);   
            var returnValue = "";
            if(obj!=null){   
                for(var i=0;i<obj.length;i++){   
                    if(obj[i].checked){   
                        returnValue = obj[i].value;               
                    }   
                }   
            }   
            return returnValue;   
        }
    
    </script-->
     <script src="http://apps.bdimg.com/libs/angular.js/1.3.9/angular.min.js"></script>
    <script type="text/javascript" src="js/calculate.js"></script>
</head>
<body>

    <div class="caculator_container" ng-app="myApp" ng-controller="myCtrl">
        <form action="caculator.php" method="get">
            <div class="system" >
            Roof Systems
                <br />
                <input type="radio" ng-model="roofSystem" value="tile"> Tile Roof
                <br/>
                <input type="radio" ng-model="roofSystem" value="tin"/> Pitched Tin Roof
                <br/>
                <input type="radio" ng-model="roofSystem" value="flat"/> Pitched Flat Roof
            </div>
            
            <div class="option">
                Wind Region:
                <select id="windRegion" ng-model="windRegion">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select>
                <br/>
                Roof Height:
                <input id="height" type="number" ng-model="height" value="5">mm
                <br/>
                Width of Panel:
                <input id="width" type="number" ng-model="width" value="808">mm
                <br/>
                Thickness of Panel:
                <input id="thick" type="number" ng-model="thick" value="35">mm
                <br/>
                Power of Single Panel:
                <input id="power" type="number" ng-model="power" value="190">w
                <br/>
                Total Number of Panels:
                <input id="number" type="number" ng-model="number" value="1">
                <br/>
                Number of Rows:
                <input id="row" type="number" ng-model="row" value="1">
                <br/>
            </div>
                
            <div class="calcu">
            <hr>
                {{errorMessage}}<br />
                Reccommed Bracket Span: {{space()}}mm
                <br/>
                Total Output Power of System: {{totalPower()}}kw
                <hr>
            </div>
            <div class="planingRow">
                    Planning the Array:
                <ul>
                    <li data-ng-repeat="x in rows">
                        {{ x }}<input id="row" type="number" value="0">
                      
                    </li>
                </ul>
                    
            </div>
                
            <input type="submit" value="Next">
            <br/>
            Roof_systems:{{roof_systems + " xxx"}}<br/>
            Height: {{height}}
                
        </form>
    
    </div>
   
</body>

</html>
<!--script>
                    var space = 0;
                    var windRegion = $("#windRegion").val();
                    var roofSystem = GetRadioValue("GetRadioValue");
                    var height = $("#height").val();
                    var errorMessage;
                    switch (roofSystem){
                        case "tile":
                            switch (windRegion){
                                case "a":
                                    if(height>0 & height<7.5){
                                        space = 1400;
                                    }else if(height < 12.5){
                                        space = 1340;
                                    }else if(height <=12.5){
                                        space = 1300;
                                    }else{
                                        errorMessage="height should greater than 0";
                                    };
                                    break;
                                case "b":
                                    if(height>0 & height<7.5){
                                        space = 1050;
                                    }else if(height < 12.5){
                                        space = 980;
                                    }else if(height <=12.5){
                                        space = 920;
                                    }else{
                                        errorMessage="height should greater than 0";
                                    };
                                    break;
                                case "c":
                                    if(height>0 & height<7.5){
                                        space = 720;
                                    }else if(height < 12.5){
                                        space = 700;
                                    }else if(height <=12.5){
                                        space = 680;
                                    }else{
                                        errorMessage="height should greater than 0";
                                    };
                                    break;
                                case "d:
                                    if(height>0 & height<7.5){
                                        space = 500;
                                    }else if(height < 12.5){
                                        space = 500;
                                    }else if(height <=12.5){
                                        space = 500;
                                    }else{
                                        errorMessage="height should greater than 0";
                                    };
                                    break;
                            }
                            break;
                        case "tin":
                            b;
                            break;
                        case "flat":
                            c;
                            break;   
                    }
                    document.write ("Recommend Bracket Span: " + space + "  mm" + "<br />");
                
                </script-->
