#caculator{
    width:1000px;
    background-color: greenyellow;
}
.caculator_container{
    width:800px;
    background-color: rgba(180,180,180,0.5);
    margin: 0 auto;
    font-family: sans-serif;
}
.c_form{
    height: 480px;
}
.c_title{
    fontsize:18px;
    font-weight: bold;
}
.form_left{
    width:340px;
    float:left;
    padding: 45px 0 0 60px;
}
.c_text{
    width:150px;
}
.form_left .c_title{
    margin-top: 20px;
}
.form_right{
    width:50%;
    float:left;
    padding: 30px 0 0 0;
}

.form_right li{
    width: 100%;
    float:left;
    margin-top:15px;
    list-style: none;
}
.form_right input{
    float:left;
}
.submit{
    float: right;
    margin: 30px;
    width:100px;
    height:35px;
}
.calcu{
    width: 100%;
    margin: 30px 60px; 
    
}
/***************  Plan row part  *******************/
.planingRow{
     font-size:18px;
    font-weight: bold;
    margin: 20px 0 20px 60px;
    padding-bottom: 100px;
}
.planingRow li{
    list-style: none;
}
.planingRow li input{
    width: 100px;
    height: 20px;
    font-weight: lighter;
}   


/**************** Result showing part  *******************/
.result-block{
    width: 80%;
    margin:30px auto 0;
    padding-bottom: 100px;
}
.result-block li{
    list-style: none;
    width:100%;
    height:50px;
    text-align: center;
}
.result-title_block{
    height: 50px;
    padding-left:30px;
    margin: 30px 0;
    font-size: 20px;
    font-weight: bold;
}
.result-title{
    width:30%;
    float: left;
    text-align: center;
    
}
.result-block li div{
    float:left;
    width: 30%;
}
.result-block li div:last-child{
    text-align: center;
}
.result-block li input{
    width:30%;
    float:left;
}
/**************  order print part  *****************/
#order{
    width:100%;
    height:auto;
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-family: Calibri;
    font-size: 1em;
    
}
.o_title{
    font-weight: bold;
    font-size: 2em;
    margin:30px 0;
    padding-top: 50px;
    text-align: center;
}
.o_select{
    width:80%;
    margin:0 10%;
}
.o_select tr:nth-child(odd){
    background-color: aquamarine;
}
.o_select tr:nth-child(even){
    background-color:beige;
}
.o_select tr td:nth-child(odd){
    font-weight: bold;
    width:30%;
}
.o_select tr td:nth-child(even){
    font-weight:lighter;
    width:30:
}
.o_rows{
    width:80%;
    height: auto;
    margin:30px 10% 30px;
}
.o_rows ul li{
    list-style: none;
    width:50%;
    height:25px;
    float:left;
    text-align: left;
}

.o_rows ul li div:first-child{
    width:60%;
    font-weight: bold;
    float:left;
}
.o_rows ul li div:last-child{
    width: 40%;
    float: left;
}

.o_list{
    width:90%;
    height: auto;
    margin:30px 5%;
}
.o_list_title{
    font-size: 1.7em;
    padding-top: 30px;
    text-align: center;
}
.o_list ul li{
    list-style: none;
    height: 30px;
}
.o_list ul li:nth-child(odd) div{
    background-color: lightgray;
}
.o_list ul li:nth-child(even) div{
    background-color: aliceblue;
}
.o_list ul li:nth-child(1) div{
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
.o_list ul li div{
    float:left;
    height:3em;
    line-height:3em; 
}
.o_list ul li div:nth-child(1){
    width:10%;
}
.o_list ul li div:nth-child(2){
    width:17%;
}
.o_list ul li div:nth-child(3){
    width:17%;
}
.o_list ul li div:nth-child(4){
    width:31%;
}
.o_list ul li div:nth-child(5){
    width:10%;
}
.o_list ul li div:nth-child(6){
    width:10%;
}



