<!DOCTYPE html>
<html>
<head>
<script src="http://apps.bdimg.com/libs/angular.js/1.3.9/angular.min.js"></script> 
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.datas= [
            {
                type:'a',
                value:'1',
            },
            {
                type:'b',          
                value:"2"
            },
            {
                type:'c',
                value:'3'
            }           
        ]
    });
</script>
</head>
<body>
<div class="container" ng-app="myApp" ng-controller="myCtrl">
    <h1 style="text-align: center">A Simple Angular JS Range Data Selector</h1>
    <div class="card">
        <div class="card-block">
            <h4 class="card-title"></h4>
            <div class="card-text">
                <span>Type:
                    <select ng-model="datas">
                        <option ng-repeat="data in datas" value={{data.value}}>{{data.type}}</option>
                    </select>
                </span>
                <div>{{datas.value[1]}</div>
                <span ng-show="form.type">Subtype:
                    <select ng-model="form.subtype">
                        <option ng-repeat="(subtype, value) in data[form.type]">{{subtype}}</option>
                    </select>
                </span>
            </div>
            <div class="card-text">
                <span ng-show="form.type && form.subtype">Input:
                    <input ng-model="form.input" placeholder="please enter you value">
                </span>
                <span ng-show="form.type && form.subtype && form.input">Result:
                    {{ getResult(form.input, data[form.type][form.subtype]) }}
                </span>
            </div>
        </div>
    </div>
    <div>{{data | json}}</div>
    <div>{{form | json}}</div>
</div>





</body>
</html>