<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MSS Service</title>
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!--script src="http://apps.bdimg.com/libs/angular.js/1.3.9/angular.min.js"></script-->
     <!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script-->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/calculate.js"></script>
    
</head>
<body class="caculator">
    <div class="caculator_container" ng-app="myApp" ng-controller="myCtrl">
    <div ng-show="formVisible">
        <form class="c_form" >
            <div class="form_left" >
                <div class="c_title">Roof Systems</div>
                <input type="radio" ng-model="roofSystem" value="tile" selected="selected"> Tile Roof
                <br/>
                <input type="radio" ng-model="roofSystem" value="tin"/> Pitched Tin Roof
                <br/>
                <input type="radio" ng-model="roofSystem" value="flat"/> Pitched Flat Roof
            
                <div class="c_title">Wind Region:</div>
                <select class="c_text" ng-model="windRegion">
                    <option value="a" selected="selected">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select>
                <div class="c_title">Wind Region:</div>
                <select class="c_text" ng-model="railLength">
                    <option value=3400>3400mm</option>
                    <option value=4200 selected>4200mm</option>
                </select>
            </div>
            <ul class="form_right" >
                <li>
                    <div class="c_title">Roof Height:</div>
                    <input id="height" type="number" ng-model="height" value="5">mm
                </li>
                <li>
                    <div class="c_title">Width of Panel:</div>
                    <input id="width" type="number" ng-model="width" value="808">mm
                </li>
                <li>
                    <div class="c_title">Thickness of Panel:</div>
                    <input id="thick" type="number" ng-model="thick" value="35">mm
                </li>
                <li>
                    <div class="c_title">Power of Single Panel:</div>
                    <input id="power" type="number" ng-model="power" value="190">w
                </li>
                <li>
                    <div class="c_title">Total Number of Panels:</div>
                    <input id="number" type="number" ng-model="number" value="1">
                </li>
                <li>
                <div class="c_title">Number of Rows:</div>
                <input id="row" type="number" ng-model="row" value="1">
                </li>
            </ul>
            <button class="submit" ng-click="showRows()">NEXT</button>
        </form>
        <hr>
            <div class="calcu">
                {{errorMessage}}<br />
                Reccommed Bracket Span: {{space()}}mm
                <br/>
                Total Output Power of System: {{totalPower()}}kw    
            </div>
        
    </div>
    <div ng-show="rowsVisible">
        <hr>
            <div class="planingRow">
                    Planning the Array:
                <ul>
                    <li ng-repeat="(i, row) in rows() track by $index">
                        Row{{i + 1}}: <input type="number" ng-model=rows()[i]>
                    </li>
                </ul>  
            </div>
        <button class="submit" ng-click="showResult()">Show Order Qty</button>
    </div> 
        
    <div ng-show="resultVisible">
        <hr>
        <div class="result-block" >
            <div class="result-title_block">
                <div class="result-title">Item Name</div>
                <div class="result-title">Qty</div>
                <div class="result-title">Kit</div>
            </div>
            <ul>
                <li ng-repeat="x in result">
                    <div class="c_title">{{x.name}} </div>
                    <div class="result_c2">{{x.partsQty()}}</div> 
                    <div class="result_c3">{{x.kitsQty()}}</div>
                </li>
            </ul>
            <button class="submit" ng-click="printOrder()">print</button>
        </div>
    </div>
    <div id="order">
        <div class="o_title"> Roof Mounting System Design Tools</div>
        <table class="o_select">
            <tr>
                <td>Wind Region</td>
                <td>{{windthRegion}}</td>
                <td>Kilp Lok Roof</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Roof Type</td>
                <td>{{roofSystem}}</td>
                <td>Total System Power</td>
                <td>{{totalPower}}Kw</td>
            </tr>
            <tr>
                <td>Width of Panel</td>
                <td>{{width}}</td>
                <td>numbe</td>
                <td>{{}}Piece</td>
            </tr>
            <tr>
                <td>Thrichness of Panel</td>
                <td>{{thick}}</td>
                <td>Length of Rail</td>
                <td>{{railLength}}</td>
            </tr>
            <tr>
                <td>Power of Panel</td>
                <td>{{power}}</td>
                <td>Number of Rows</td>
                <td>{{rows()}}</td>
            </tr>
        </table>
        
        <div class="o_rows">
                <ul>
                    <li ng-repeat="(i, row) in rows() track by $index">
                        <div class="o_row_title">Row {{i + 1}}</div>
                        <div class="o_row_num">{{rows()[i]}}</div>
                    </li>
                </ul>  
        </div>
        <div class="o_list">
            <div class="o_list_title">Order List</div>
                <ul>
                    <li>
                        <div class="list_no">No</div>
                        <div class="list_Ino">Item No</div>
                        <div class="list_name">Item Name</div>
                        <div class="list_des">Description</div>
                        <div class="list_qty">Qty</div>
                        <div class="list_kit">Kit</div>
                    </li>
                    <li ng-repeat="(key, value) in result" >
                        <div class="list_no">{{value.no}}</div>
                        <div class="list_Ino">{{value.item_no}}</div>
                        <div class="list_name">{{value.item_name}}</div>
                        <div class="list_des">{{value.item_Description}}</div>
                        <div class="list_qty">{{value.partsQty()}}</div>
                        <div class="list_kit">{{value.kitsQty()}}</div>
                    </li>
                </ul>
        </div-->
        
    </div>
</div>
</body>

</html>

